  button {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 2px;
    height: 2rem;
    width: max-content;
    color: black;
    font-size: 20px;
    justify-self: center;
    font-family: 'Montserrat', sans-serif; 
  } 

  button:hover {
    background-color: #efc2e1;
  }

  .header-container {
    margin: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 10px
  } 
  
  body {
    margin: 0;
  } 

  #recipe-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efc2e1;
    opacity: .8;
    height: 7rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 

  #title {
    font-family: 'Parisienne', cursive;
    font-size: 75px;
  } 

  .container {
    width: stretch;
    height: auto;
    background: #c6ea7e;
    opacity: .8;
    display: none;
    align-items: stretch;
    justify-content: space-around; 
    padding: 2rem;
    flex-wrap: wrap
  } 

  .form-container {
    width: 45%;
  }
 
  .input-container {
    padding: 1rem
  }
  
  .input-text {
    border-radius: 2px;
    height: 2rem;
    width: 75%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; 
    margin: 3px;
  }

  .amount-input {
    border-radius: 2px;
    height: 2rem;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; 
    margin-left: 0.5rem;
    margin-top: 0.5rem
  }

  #recipe-instructions {
    border-radius: 2px;
    height: 10rem;
    width: 75%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; 
    margin: 3px;
    padding-left:0;
    padding-top:0;
  } 

  .selected-container {
    background-color: #def2b8;
    min-width: 45%;
    border: grey solid 1.33px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 17px;
  } 

  .results-container {
    background-color: #def2b8;
    padding: 2rem;
    display: none;
    border: grey solid 1.33px;
    line-height: 2;
  } 

  .recipes-body {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column
  }

  .button-move {
    display: flex;
    justify-content: flex-end;
    width: stretch;
    padding-bottom: 1rem; 
  }

  #new-recipe-btn {
    background-color: #efc2e1;
    height: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Montserrat', sans-serif; 
  }

  #recipe-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around 
  } 

  .card {
    text-align: left;
    padding: 1rem;
    min-width: 45%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: #c6ea7e;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
  } 

  .recipe-card-name {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    margin: 0; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    background-color:  #def2b8;
    border-radius: 5px;
  } 

  p {
    margin: 0
  }

  .titlez {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px
  } 

.search-result {
  font-family: 'Montserrat', sans-serif; 
  font-size: 17px;
} 

.search-result-btn {
  position: relative;
  height: 1.5rem;
  font-size: 15px;
  margin-right: 0.5rem
} 

.ing-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 

.ing-line {
  display: flex;
} 

.ingredient-amount {
  min-width: 6rem
}

#recipe-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center
}

#recipe-search-input {
  font-size: 2rem;
  border: 10px solid grey solid;
  font-family: 'Montserrat', sans-serif; 
  text-align: center
} 

.span-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center
} 

.single-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.recipe-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
}

.convert-btn {
  font-size: 18px;
  margin-left: 1rem;
} 

.delete-btn {
  font-size: 18px;
} 

#submit-button {
  border: 5px solid #efc2e1;
  height: 3rem;
  font-size: 24px;
  margin-top: 1rem;
} 

img {
  width: 30%; 
}
